/**
 * Main Styles
 * Test 123
 */

:root {
    --text-color: blue;
}

body {
    background-color: red; // BUG: sollte eigentlich pink sein
}

h1 {
    padding: 1rem;
    color: var(--text-color);
}
